*.ppp
*.mqc
*.pqc
.mypy_cache/*
Java/bin
*.pyc
*.m~
*.log
data
dist
data/*
dist/*
Geomag/sample_coords.txt
Geomag/sample_out_IGRF13.txt
.python-version
.standalone_canonical_version
.build.py@*
*.nc
tmp/test_*
